<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995398933121-ev7kb41t75hjq79uji69nhvesikfrf4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995398933121-ev7kb41t75hjq79uji69nhvesikfrf4p</string>
	<key>API_KEY</key>
	<string>AIzaSyDLFv3JbWMrWilQVALgViaV70bCN9btj3k</string>
	<key>GCM_SENDER_ID</key>
	<string>995398933121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xpense</string>
	<key>PROJECT_ID</key>
	<string>expense-app-c4499</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-app-c4499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995398933121:ios:ba0cc164bd604c5cd50b80</string>
	<key>DATABASE_URL</key>
	<string>https://expense-app-c4499-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>